
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Resultados de Alumnos</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let resultado of resultados">
                <ion-label>
                  <h2>{{ resultado.nombre }}</h2>
                  <p>Carrera: {{ resultado.carrera }}</p>
                  <p>Módulo 1: {{ resultado.modulo1Res }}</p>
                  <p>Módulo 2: {{ resultado.modulo2Res }}</p>
                  <p>Módulo 3: {{ resultado.modulo3Res }}</p>
                  <p>Módulo 4: {{ resultado.modulo4Res }}</p>
                  <p>Módulo 5: {{ resultado.modulo5Res }}</p>
                  <p>Resultado Final: {{ resultado.resultadoFinal }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
