<ion-header>
  <ion-toolbar>
    <ion-title>Administración</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="add-users">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Agregar Usuarios</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="modulos">
        <ion-icon name="book-outline"></ion-icon>
        <ion-label>Modulos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="asignacion">
       <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Asignacion</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="question-bank">
        <ion-icon name="duplicate-outline"></ion-icon>
        <ion-label>Banco de Preguntas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="resultados">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Resultados</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
