.modulos-container {
  max-width: 300px; /* Ajusta el ancho según sea necesario */
  margin: 0 auto; /* Centra el contenedor */
}

ion-item.selected {
  background-color: #d4edda; /* Color de fondo para módulos seleccionados */
}

ion-item {
  --padding-start: 8px;
  --inner-padding-end: 8px;
  --inner-padding-top: 4px;
  --inner-padding-bottom: 4px;
  --min-height: 30px;
}

ion-label {
  font-size: 14px;
}