<div>
  <h2>Bienvenido al {{ infoExamen.nombre }}</h2>
  <div>
    <!-- Descripción -->
    <span>
      <p>{{ infoExamen.descripcion }}</p>
    </span>
    <h3>Módulos que contiene el examen:</h3>
    <ul>
      @for ( modulo of infoExamen.modulos; track modulo.idModulo) {
      <div class="module-list-item">
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <li>{{ modulo.nombreModulo }}</li>
      </div>
      }
    </ul>
  </div>
  <!-- <ion-button (click)="comenzarExamen()">Comenzar Examen</ion-button> -->
  <ion-button mat-button (click)="openModal()">Comenzar examen</ion-button>
</div>
