<ion-header>
  <ion-toolbar>
    <ion-title>Examen de Egreso</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- cargar rutas de los componentes hijos para manejar el estado del examen -->
  <div class="examen-container">
    <h1 class="test-title">Examen</h1>
    <router-outlet></router-outlet>
    <!-- Aquí se cargan las rutas hijas -->
  </div>
</ion-content>
