.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .left-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .right-column {
    flex: 1;
    margin-right: 20px;
  }
  .right-column2 {
    flex: 1;
  }