<ion-list class="question-container">
  <!-- En el template -->
  <form [formGroup]="formulario" (ngSubmit)="openModal()">
    @for (pregunta of preguntass; track pregunta.idPregunta) {
    <div>
      @if (pregunta.isPreguntaAbierta) {
      <div>
        <label>{{ pregunta.pregunta }}</label>
        <input [formControlName]="'pregunta_' + pregunta.idPregunta" />
      </div>
      } @if (!pregunta.isPreguntaAbierta) {
      <div class="option-container">
        <label>{{ pregunta.pregunta }}</label>
        <ion-radio-group [formControlName]="'pregunta_' + pregunta.idPregunta">
          @for (opcion of pregunta.opciones; track opcion.idOpcion) {
          <ion-item>
            <ion-label>{{ opcion.texto }}</ion-label>
            <ion-radio slot="start" [value]="opcion.value"></ion-radio>
          </ion-item>
          }
        </ion-radio-group>
      </div>
      }
    </div>
    }
    <button type="submit">Enviar</button>
    <!-- <ion-button expand="full"  (click)="openModal()">Guardar Respuestas</ion-button> -->
  </form>
</ion-list>

<!-- Botón para guardar las respuestas -->
