/* filepath: /c:/Users/alan.saucedo/examen-admision/src/app/pages/question-bank/question-bank.page.scss */

ion-card {
  margin: 10px;
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #3880ff;
}

ion-item {
  --background: #f8f8f8;
  --border-color: #dcdcdc;
  margin-bottom: 10px;
}

ion-label {
  font-weight: bold;
}

ion-button {
  margin-top: 20px;
}